<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Edit User</h1>
    <form action="/users/edit/<%= result.id %>" method="post">
      <label for="">Name</label>
      <input type="text" name="name" value="<%= result.name %>" /><br /><br />
      <label for="">Address</label>
      <input
        type="text"
        name="address"
        value="<%= result.address %>"
      /><br /><br />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
