<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <table border="1">
      <tr>
        <th>No</th>
        <th>Username</th>
        <th>Email</th>
        <th>Password</th>
      </tr>
      <% result.forEach((el, i)=> { %>
      <tr>
        <td><%= i + 1%></td>
        <td><%= el.username%></td>
        <td><%= el.email%></td>
        <td>Password encrypted</td>
      </tr>
      <% }) %>
    </table>
    <button>
      <a href="/profiles">Go to Profile </a>
    </button>
  </body>
</html>
